@import './variables.scss';

.card {
  background-color: #fff;
  margin-bottom: 25px;

  .card-title {
    border-top: 2px solid $gray-lighter;
    padding: 15px 15px 7px;

    h5 {
      font-weight: 500;
    }
  }

  .card-content {
    border-top: 1px solid $gray-lighter;
    padding: 20px;
  }
}
