.commission-dropdown-card {
  h3 {
   display: inline-block;
  }

  &:hover {
    background: lighten(#000, 98.5%);
    cursor: pointer;
  }

  .actions {
    padding-right: 20px;
    font-size: 120;
  }

}

.commission-input {
      padding-bottom: 13px;

      &.border-top {
        border-top: 1px solid $gray-lighter;
      }

      &.border-bottom {
        border-bottom: 1px solid $gray-lighter;
      }
}


.commission-wrapper {
  height: 350px;
  padding-top: 40px;
  background-color: #fff;
}
