.login-form-wrapper, .addCompany-form-wrapper, .addRole-form-wrapper, .addUser-form-wrapper, .addVehicle-form-wrapper    {
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  padding: 15px;
}

.addRole-form-padding{
  padding-right: 15px;
  padding-left: 15px;
}

.roleLabel{
  padding-top: 5px;
}