@import './variables.scss';
@import './form-wrapper.scss';
@import './nav.scss';

body {
  background-color: $gray-lightest;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #676a6c;
  background-color: #2f4050;
}
