body {
  padding: 10px;
}

/* Login */

.login-form-wrapper {
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  padding: 15px;

  .login-form {
    .has-error {
      color: red;
      border-color: red;
    }
  }
}

/* Company */

.addCompany-form-wrapper {
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  padding: 15px;

  .addCompany-form {
    .has-error {
      color: red;
      border-color: red;
    }
  }
}

/* Vehicle */

.addVehicle-form-wrapper {
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  padding: 15px;

  .addVehicle-form {
    .has-error {
      color: red;
      border-color: red;
    }
  }
}

/* User */

.addUser-form-wrapper {
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  padding: 15px;

  .addUser-form {
    .has-error {
      color: red;
      border-color: red;
    }
  }
}

/* Role */

.addRole-form-wrapper {
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  padding: 15px;

  .addRole-form {
    .has-error {
      color: red;
      border-color: red;
    }
  }
}

/* TODO : juiste positie Start date & End date voor elke size van window browser; */

.addRole-form-row{
  padding-left: 5px;
  position: relative;
}

.addRole-form-row-label{
  width: 30%;
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

.addRole-form-row-input{
  display: inline-block;
  width: 70%;
  float: right;
}