body {
  padding: 10px;
}

.login-form-wrapper {
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  padding: 15px;

  .login-form {
    .has-error {
      color: red;
      border-color: red;
    }
  }
}
