@import './variables.scss';

.all-wrapper {
  height: 100%
}

.page-wrapper {
  background-color: $gray-lighterer;
  min-height: 100vh;
  padding: $top-padding 15px 0;
}

.header {
  background: #fff;
  margin: 0 -15px;
  padding: 20px 10px;
  border-bottom: 1px solid #e7eaec;
  border-top: 1px solid #e7eaec;
}

#logo {
  margin-top: $top-padding;
  background: $gray-darker;
  padding: 20px 0;
  border: solid $gray-darkest;
  border-width: 1px 0;

  h2 {
    font-weight: 400;
    color: #fff;
    text-align: center;
  }
}
