@import './variables.scss';

.page-wrapper {
  margin: 0 0 0 $nav-width;
  background-color: $gray-lighterer;
  min-height: 100%;
  padding: 20px 15px 0;
}

.header {
  background: #fff;
  margin: 0 -15px;
  padding: 20px 10px;
  border-bottom: 1px solid #e7eaec;
  border-top: 1px solid #e7eaec;
}
