@import './variables.scss';

@media screen and (max-width: $mobile-width) {

  .mobile-menu{
    display: block;
  }

  .standard-menu{
    display: none;
  }

  .page-wrapper {
    margin: 0 0 0 0;
  }

  //
  // Burger menu custom styles
  //

  .bm-burger-bars {
    background: #373a47;
  }

  .bm-menu {
    background: $gray;
  }

  .bm-cross {
    background: #bdc3c7;
  }

  .sidebar-wrapper {
    background-color: $gray-lighterer;
    width: 100%;
  }

  .sidebar-wrapper {
    background-color: transparent;
    width: auto;
  }
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 10px;
  top: 10px;
}


@media screen and (min-width: $mobile-width) {

  .mobile-menu{
    display: none;
  }

  .standard-menu{
    display: block;
    background-color: transparent;
    position: fixed;
    width: $nav-width;
    z-index: 1000;
    height: 100%;
  }

  .bm-burger-bars {
    background: transparent;
  }

  .page-wrapper {
    margin: 0 0 0 $nav-width;
  }

  .sidebar-wrapper {
    background-color: transparent;
    width: auto;
  }
}

.nav {
  margin-top: 25px;

  li {
    &.active {  
      background: $gray-darkest;

      a {
        color: #fff;
      }
    }

    a {
      color: #a7b1c2;
      font-weight: 600;
      padding: 14px 20px 14px 25px;

      &:hover {
        background-color: $gray-darker;
        color: white;
      }

      &:focus {
        background-color: transparent !important;
      }
    }
  }
}
