@import './variables.scss';

.navbar-default {
  background-color: transparent;
}

.navbar-side {
  position: fixed;
  width: $nav-width;
  z-index: 1000;
  height: 100%;
}

.nav {
  margin-top: 25px;

  li {
    &.active {  
      background: $gray-darkest;

      a {
        color: #fff;
      }
    }

    a {
      color: #a7b1c2;
      font-weight: 600;
      padding: 14px 20px 14px 25px;

      &:hover {
        background-color: $gray-darker;
        color: white;
      }

      &:focus {
        background-color: transparent !important;
      }
    }
  }
}

//
// Burger menu custom styles
//
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 10px;
  top: 10px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-menu {
  background: $gray;
}

.bm-cross {
  background: #bdc3c7;
}