@import './variables.scss';

.fsubfleets {
  .subfleet-wrapper {
    border-bottom: 1px solid $gray-lighter;

    &:hover {
      background: lighten(#000, 97.5%);
    }

    .checkbox {
      float: left;
    }

    &:last-child {
      .subfleet {
        border-bottom: 0;
      }
    }

    .subfleet {
      padding: 20px 0 20px 10px;

      h3 {
        display: inline;
        margin-left: 25px;
      }
    }
  }

  .vehicles {
    display: table;
    width: 100%;

    .vehicle {
      display: table-row;
      height: 40px;
      border-bottom: 1px solid $gray-lighter;

      input {
        margin-left: 25px;
      }

      &:hover {
        background: lighten(#000, 97.5%);
      }

      & > a {
        display: table-cell;
        padding: 10px;
        font-size: 20px;
        font-weight: 100;
      }
    }
  }
}

.subfleets {
  .subfleet-wrapper {
    .subfleet-row {
      .checkbox {
        margin-left: 10px;
        margin-right: 10px;
      }

      h3 {
        width: 99%;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }

    .vehicles {
      .td:first-child {
        width: 1%;
      }

      .checkbox {
        margin-left: 30px;
        margin-right: 10px;
      }
    }
  }
}
