$gray-darkest: rgba(0,0,0,0.4);
$gray-darker: #1f272a;
$gray: #273135;
$gray-lighter: #e7eaec;
$gray-lighterer: #f3f3f4;
$gray-lightest: lighten(#000, 97.25%);

$orange: #E76049;

$body-color: #676a6c;

$nav-width: 220px;
$nav-width-mobile: 70px;

$top-padding: 20px;

$mobile-width: 1000px;

// Solvas colours
$solvas-blue: #006c88;
$solvas-gray: #2b3a42;